.editor {
    height: 100%;
    position: relative;
}

.doll-frame {
    position: relative;
}

.added-piece {
    position: absolute;
    top: 0;
    left: 0;
}

.editor-button-row {
    display: flex;
    justify-content: space-around;
}

.link-button {
    background: none;
    color: var(--link-color);
    border: none;
    cursor: pointer;
}

.link-button:focus {
    text-decoration: underline;
    border: none;
    outline: none;
}

.hair {
    z-index: 1;
}

.top {
    z-index: 2;
}

.socks {
    z-index: 3;
}

.pants {
    z-index: 4;
}

.middlewear {
    z-index: 5;
}

.outerwear {
    z-index: 6;
}

.shoes {
    z-index: 7;
}