:root {
  --main-color: blue;
  --link-color: var(--main-color);
  --editor-background-color: #fdfdfd;
}

/* TODO: mobile */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}